<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ article.title }}</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
    <article class="blog-article">
        <h1>{{ article.title }}</h1>
        <div class="article-content">
            {{ article.content|safe }}
        </div>
        <a href="{{ article.link }}" class="article-link">Read more</a>
    </article>
</body>

</html>
